body {
    font-family: Arial, sans-serif;
    color: #333;
    background-color: #f0f0f0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0; /* Remove default margin */
    position: relative;
}

main {
    display: flex;
    flex-direction: column; /* This stacks children vertically */
    align-items: center; /* This centers them horizontally */
    flex: 1;
    padding: 20px;
    padding-top: 120px; /* Adjust as needed to clear the fixed header */
    }
    

.left-section, .right-section {
    display: flex;
    
    flex-direction: column; /* Stack button and text vertically in right-section */
    align-items: center; /* Center-align the items in left-section */
}

.right-section {
    align-items: flex-end; /* Aligns items to the right for the right-section */
}

.right-section p {
    margin-top: 10px; /* Add space between button and caption text */
    text-align: center;
}

header {
    width: 25%;
    background-color: #858282;
    color: #fff;
    text-align: center;
    padding: 1em;
    position: fixed; /* Keeps the header fixed to the top-left */
    top: 0;
    left: 0;
}

header h1 {
    margin: 0;
    padding: 0;
    /* Centers the title in the header, already centered text-wise */
}

footer {
    background-color: #858282;
    color: #fff;
    text-align: center;
    padding: 1em;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

h2 {
    color: #007bff;
}

.button {
    display: inline-block;
    padding: 15px 30px; /* Make buttons larger */
    background-color: #007bff; /* Blue theme */
    color: #ffffff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.button-sections {
    display: flex;
    align-items: center;
    justify-content: space-around; /* This spreads the buttons evenly */
    width: 100%;
    margin-top: 100px;
}


.button:hover {
    background-color: #0056b3;
}

@keyframes typing {
    from { width: 0; }
    to { width: 100%; }
  }
  
  @keyframes blink-caret {
    from, to { border-color: transparent; }
    50% { border-color: black; }
  }
  
  #animated-text {
    border-right: .15em solid black; /* The typewriter cursor */
    padding: 0 1rem; /* Optional: Adjusts padding */
    animation: blink-caret .75s step-end infinite; /* Cursor animation */
  }
  
